{% extends 'layout.default' %}

{% set totalCrew = '' %}
{% set nb = '' %}

{% block content %}
    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Model</th>
            <th scope="col">Nb crew</th>
            <th scope="col">Nb subordinate</th>
            <th scope="col">Total crew</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for ship in ships %}
{#                {% set nb = ship.crews|length %}#}
{#                {% if ship.subordinates %}#}
{#                    {% for subordinate in ship.subordinates %}#}
{#                        {% set nb =  nb + subordinate.crews|length %}#}
{#                    {% endfor %}#}
{#                {% else %}#}
                    {%  set totalCrew = ship.crews|length + ship.subordinates|length %}
{#                {% endif %}#}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ship.code}}</td>
                <td>{{ship.model}}</td>
                <td>{{ship.crews | length}}</td>
                <td>{{ship.subordinates | length}}</td>
                <td>{{totalCrew}}</td>
                <td><a class="btn btn-info" href="{{ url('/ships/'~ship._id~'/details ') }}">detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
